{
  "TOKEN": "NDgzNTUzMzQyNzE1NTkyNzA0.W4O2JA.qmDO4R15u8GwSj9lC_IMOXMrRkk",
  "YOUTUBE_API_KEY": "AIzaSyAL9GrI0Hn-NQJgOq1XaZhY34HhKKjpV8E",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
